* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*formato de la pagina para que no se vea la scrollbar horizonatal  */
body {
    width: 100vw;
    overflow-x: hidden;
}


// fondo a reutilizar

@mixin fondo-logo-rep{

    width: 100vw;
    height:100vh;
    background-image: url(../media/img/icono_obrador.png);
    background-repeat: repeat;
    background-size: 1.5%;
    padding-top: 40px;
}
// fondo a reutilizar
// main de login
.login-main{
    @include fondo-logo-rep;
}
// fin main del login


// main about

.main-about{
    width: 100vw;
    height:1500px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
// fin main about
// inicio main carrito
.main-carrito{
    @include fondo-logo-rep;
}
// fin main carrito



/* inicio de footer */


footer {
    background-color: $fondo;
    color: $negro;
    padding: 5px;
    text-align: center;
    font-size: medium;
    margin-top: 40px;
}

footer .redes {
    background-color: $fondo_res;
    color:$negro;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

footer a {
    color: $color2;
    font-weight: bold;
}

footer .redes i {
    color: $color1;
    font-size: 20px;
    letter-spacing: 30px;

}

footer .redes a {
    text-decoration: none;

}

/* fin de footer */