
/* inicio de banner */
.Jumbotron {
    height: 400px;
    background-image: url(../media/img/pan_dulce_duo-min.webp);
    font-weight: bolder;
    background-position: center;
    background-size: cover;

}


.sombras {
    text-shadow: 0 0 5px $negro;

}

/* fin de banner */


/* inicio de banner logo*/
.jumbotron-logo {
    height: 400px;
    max-width: 800px;
    background-image: url(../media/img/logoObrador.png);
    font-weight: bolder;
    background-position:right;
    background-repeat: no-repeat;
    background-size:contain;

}

.bg-primary{
    background-color: $fondo !important;

}


.sombras-logo {
    color: $color1;
    text-shadow: 0 0 5px $fondo_res;

}

/* fin de banner */

/* inicio del carrousel */

carrousel{
    width: 100vw;
} 

.carousel-item {
    width: 100vw;
    max-height: 500px;

}

/* fin del carrousel */


// cartel about

.img-about{
    width:70vw;
    height: 80vh;
    border:  0px solid $color1;
    border-radius: 25px;
    margin: 0 auto;
    background-image: url(../media/img/pan_dulce_duo-min.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 80px;
   

}

// fin cartel about