/* iniciobarra de navegacion */
.navbar-about {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    background-color: #D9D9D9;
}
.navbar-brand {
    color: $color1 !important;
/* se usa el !important para superponer a otro codigo el mismo modificador */
    font-weight: bold;
    font-size: larger;

}

.navbar-brand img {
    height: 70px;
}

/* color de iconos de nav */
.nav-link {
    color: $negro;
}

/* fin de barra de navegacion */